
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<script>
    window.onload = function () {
        document.querySelector('.arkaplan').classList.add('bg-orange-100');
    };
</script>